@import url('https://fonts.googleapis.com/css?family=Roboto');

.hintergrund {
    font-family: 'Roboto', sans-serif;
    background: url('../pics/flowers-colorful-bloom-daisies-70330.jpg ') no-repeat center center fixed;
    background-size: cover;
}

.text-hangman{
    font-family: 'Roboto', sans-serif;

}


