#wort{
    min-width: 400px;
    height: 100px;
    font-size: 16pt;
    text-transform: uppercase;
    font-color: darkgrey;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#countdown{
    float: right;
    font-size: 18pt;
    color: cornflowerblue;
}

#animation {
    visibility: hidden;
    float:right;
    width:300px;
}

#blume {
    float:right;
    width: 250px;
    padding-top: 30px;
}

#highscore{
    visibility: hidden;
}
