
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto');




#hero {
    background-attachment: fixed;
    background-image: url('../pics/flowers-colorful-bloom-daisies-70330.jpg ');
    height: 100vh;
    width: 100%;
    margin-top: -20px;
}

.textw{

    color: #fff;
}

.textheader{
     color: #fff;
     font-size: 150px;
     font-family: 'Indie Flower';
     text-align: center;

 }

.textheadersmall{
    color: #fff;
    font-size: 50px;
    font-family: 'Indie Flower';
    text-align: center;

}

.headerstart {
    z-index: 2;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%)
}
#hero-mask {
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transform: translate3d(0, 0, 0);
}
.full-height {
    height: 100vh;
    background-color: #5bc0de;
    color: black;
}
