#hero {
    background-attachment: fixed;
    background-image: url('../pics/flowers-colorful-bloom-daisies-70330.jpg ');
    height: 100vh;
    width: 100%;
}
h1, h2 {
    text-align: center;
    color: #fff;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 19px;
}
header {
    z-index: 2;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%)
}
#hero-mask {
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transform: translate3d(0, 0, 0);
}
.full-height {
    height: 100vh;
    background-color: #5bc0de;
    color: black;
}