
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background: url('../pics/flowers-colorful-bloom-daisies-70330.jpg ') no-repeat center center fixed;
    background-size: cover;
}
.main-section {
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
}
.modal-content {
    background-color: #434e5a;
    color: white;
    opacity: .8;
    padding: 0 18px;
    border-radius: 10px;
    text-align: center;

}
.user-img img {
    height: 100px;
    width: 100px;
}
.user-img {
    margin-top: -60px;
    margin-bottom: 45px;
}
.form-group {
    margin-bottom: 25px;
}
.form-group input {
    height: 42px;
    width: 300px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    letter-spacing: 2px;
    padding-left: 20px;

}



.formularLink {
    padding: 5px 0 25px;
    color: white;
}
.formularLink a {
    color: #2aabd2;
}
